<!DOCTYPE html>
<html>
    <head>
        <title>Language Learner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/w3.css">
        <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    </head>
    <body>
        <header class="w3-container w3-dark-gray">
            <h1><i class="fas fa-dice-d20"></i> Language Learner</h1>
        </header>
        <div class="w3-container w3-margin">
            {% block content %}{% endblock %}
        </div>
        <footer class="w3-container w3-light-gray w3-center">
            <label>my app (2021)</label>
        </footer>
    </body>
</html> 